@model ProjeTakip.Models.ViewModels.ProfileVM

@{
    ViewData["Title"] = "Profil Düzenle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="UserFName" class="control-label"></label>
        <input asp-for="UserFName" class="form-control" />
        <span asp-validation-for="UserFName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserLName" class="control-label"></label>
        <input asp-for="UserLName" class="form-control" />
        <span asp-validation-for="UserLName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GitHubProfile" class="control-label"></label>
        <input asp-for="GitHubProfile" class="form-control" />
        <span asp-validation-for="GitHubProfile" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Güncelle" class="btn btn-primary" />
    </div>
</form>

<a class="btn btn-outline-warning mt-3" onclick="window.history.back()">Geri</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}